.background__img {
    background-image: url(../img/page_company_background_image.png);
    height: 100vh;
    padding: 100px 0px 150px 0px;
    background-repeat: no-repeat;
}
.companies__page-name {
    color: #50aab2;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    height: 50px;
}
.companies__title {
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
    font-size: 34px;
}
.companies__subtitle {
    color: #e8eeef;
    font-family: 'Rubik', sans-serif;
    font-size: 19px;
}
.companies__text {
    color: #C5C5C6;
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
}
.javascript__partners {
    color: #e8eeef;
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
}
/*new*/

.companies__container {
    max-width: 700px;
    display: flex;
    flex-direction: column;
}
