.background__img {
    background-image: url(../img/page_company_background_image.png);
    height: 100vh;
    padding: 100px 0px 150px 0px;
    background-size: cover;
    background-repeat: no-repeat;
}
.companies__page-name {
    color: var(--caption-color);
    font-weight: 600;
    font-size: 12px;
}
.companies__title {
    color: #ffffff;
    font-size: 34px;
    font-weight: 600;
}
.companies__subtitle {
    color: var(--content-block-color);
    font-size: 19px;
    font-weight: 600;
}
.companies__text {
    color: #C5C5C6;
    font-size: 17px;
    font-weight: 600;
}
.javascript__partners {
    color: var(--content-block-color);
    font-size: 32px;
    font-weight: 600;
}
.companies__container {
    max-width: 700px;
    display: flex;
    flex-direction: column;
}
