@import url(common.css);
@import url(css-articles.css);
@import url(css-contacts.css);
@import url(contact-us.css);
@import url(head.css);
@import url(about-us.css);
@import url(header-about-us.css);
@import url(pricing-page.css);
@import url(companies-page.css);
@import url(testimonials.css);
@import url(gallery.css);
@import url(footer.css);
@import url(our-process.css);
@import url(consultation.css);

* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Rubik', sans-serif;
    --caption-color: #50aab2;
    --title-color: #062a4d;
    --subTitle-color: #385977;
    --text-color: #54738e;
    --content-block-color: #e8eeef;
    --content-block-background: url(..//img/background_about_us.svg);
    --header-about-us-color: #062a4d;
    --header-about-us-color-top-icon: #50aab2;
    --button-color: #d0df56;
    --button-a-color: #062a4d;
    --button-color-hover: #50aab2;
    --button-a-color-hover: #ffffff;
    --contacts-background-image: url(../img/contacts-background.svg);
    --contacts-background-color: #062a4d;
    --contacts-background-color-up: #062a4dfc;
    --contacts-title-color: #ffffff;
    --background-contact-us: #e6eef5;
    --contact-us-input-background: #e8eeef;
    --contact-us-input-border: #50aab2;
    --contact-us-input-color: #062a4d;
}

.img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: white;
}

.top-content {
    margin: auto;
    width: 1261px;
    height: 800px;
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
}

.top-wrapper {
    width: 1261px;
    height: 800px;
    display: block;
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
}

.header {
    width: 1120px;
    height: 150px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-family: Rubik, sans-serif;
}

.header-span {
    color: rgb(80, 170, 178);
    font-weight: 800;
    font-family: Rubik, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    line-height: 21.71px;
}

.header-span1 {
    color: rgb(6, 42, 77);
    font-family: Rubik, sans-serif;
    font-size: 46px;
    font-weight: bolder;
    line-height: 55px;
}

.header-span2 {
    color: rgb(56, 89, 119);
    font-family: Rubik, sans-serif;
    line-height: 28.5px;
    font-weight: bold;
    font-size: 19px;
    overflow-wrap: break-word;
}

.bot-wrapper {
    width: 1120px;
    height: 400px;
    box-sizing: border-box;
    border: 15px 30px;
    padding: 80px 0px;
    display: flex;
}

.grid {
    width: 1150px;
    height: 400px;
    display: flex;
    box-sizing: border-box;
    margin-top: 50px;
    margin-left: 60px;
}

.grid-wrapper {
    width: 354px;
    height: 399px;
    box-sizing: border-box;
    margin: 0px 15px;
}

.pictr1 {
    box-sizing: border-box;
    width: 353px;
    height: 231px;
    background-image: url(../img/mar1.png);
}

.pictr2 {
    box-sizing: border-box;
    width: 353px;
    height: 231px;
    background-image: url(../img/mar2.png);
}

.pictr3 {
    box-sizing: border-box;
    width: 353px;
    height: 231px;
    background-image: url(../img/mar3.png);
}

.number-color {
    color: rgb(80, 170, 178);
    font-family: Rubik, sans-serif;
    font-size: 26px;
    font-weight: 700;
}

.picture-about {
    color: rgb(6, 42, 77);
    font-size: 26px;
    line-height: 36px;
    font-weight: 700;
}

.picture-info {
    color: rgb(84, 115, 142);
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;
}

.bot-content {
    margin: auto;
    width: auto;
    height: 510px;
    box-sizing: border-box;
    background-image: url(../img/mar4.svg);
    background-color: rgba(80, 170, 178, 0.98);
    margin: 0px 30px;
}

.main-bot-content {
    justify-content: center;
    display: flex;
    box-sizing: border-box;
    background-color: rgba(80, 170, 178, 0.98);
}

.info-bot-content {
    width: 1201px;
    height: 510px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Rubik, sans-serif;
}

.consultation-span {
    color: rgb(232, 238, 239);
    font-size: 13px;
    font-weight: 900;
    letter-spacing: 1.3px;
    line-height: 21px;
    text-transform: uppercase;
}

.title-span {
    font-size: 46px;
    font-weight: 900;
    line-height: 55px;
    color: rgb(255, 255, 255);
}

.info-span {
    color: rgb(232, 238, 239);
    font-size: 19px;
    font-weight: 550;
    line-height: 28px;
}

.consultation-btn {
    cursor: pointer;
    background-color: rgb(208, 223, 86);
    height: 50px;
    width: 160px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    font-family: Rubik, sans-serif;
    border: none;
    font-size: 11px;
    font-weight: bolder;
}

.consultation-btn:hover {
    color: white;
    background-color: rgb(6, 42, 77);
}

/* Marynych end */