.companies {
 
}
.background__img {
    background-image: url(../img/doors/page_company_background_image.png);
    height: fit-content;
    padding: 100px 0px 150px 0px;
    background-repeat: no-repeat;
}
.companies__page-name {
    color: #50aab2;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;;
    font-size: 12px;
    height: 50px;
}
.companies__h1 {
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
}
.companies__h2 {
    color: #e8eeef;
    font-family: 'Rubik', sans-serif;
    font-size: 19px;
    max-width: 767px;
}
.companies__text {
    color: #C5C5C6;
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
    max-width: 767px;
    margin-right: 30%;
}
.javascript__partners {
    color: #e8eeef;
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
    width: 350px;
    height: 250px; 
}
.pricing {
    background-color: #e8eeef;
    padding: 80px 0px 150px 0px
}
.pricing__page-name {
    color: #50aab2;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;;
    font-size: 12px;
    height: 50px; 
    text-align: center;   
}
.pricing__h1 {
    color: #062a4d;
    font-family: 'Rubik', sans-serif;
    font-size: 34px;
    text-align: center;
}
.pricing__h2 {
    color: #385977;
    font-family: 'Rubik', sans-serif;
    font-size: 19px;
    text-align: center;
}
ul {
    list-style: none;
}
.pricing__name-door {
 color: #062a4d;
 font-size: 18px;
 font-family: 'Rubik', sans-serif;   
}
.pricing__line {

}
.pricing__from-text {
    color: #53738e;
    font-size: 13px;
    font-family: 'Rubik', sans-serif;  
}
.pricing__cost-door {
    color: #50aab2;
    font-size: 25px;
    font-family: 'Rubik', sans-serif; 
}
.pricing__about-block {
    color: #54738e;
    font-size: 14px;
    font-family: 'Rubik', sans-serif; 
}
.pricing__call-ico {
        background-color: #d0df56;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.pricing__call-ico-img {
    display: block;
    margin: auto;
    padding-top: 4.5px;
    width: 40px;
}
.pricing__contacts-header {
    color: #062a4d;
    font-size: 22px;
    font-family: 'Rubik', sans-serif;  
}
.pricing__phone-mail {
    color: #062a4d;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
}
.pricing__contact-text-link {
    color: #50aab2;
    font-size: 14px;
    font-family: 'Rubik', sans-serif; 
}