.main {
  background-color: #cbd3d3;
}
.header {
  background-color: #abc7c7;
}
.menubutton {
  background: #c0c0c3;
  width: 100px;
  height: auto;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.buttongoogle {
  width: 350px;
  text-align: left;
}